@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
/*-----Typography-----*/
    font-family: 'Space Mono', monospace;
    color: #262626;
/*-----Colors-----*/
    --color-primary-color-light:#9bf1ff;
    --color-secundary-color-light1:#f2ffaa;
    --color-secundary-color-light2:#f3b1dc;
    --color-secundary-color-light3:#a1ffe6;
    --color-secundary-color2:#c79cff;
/*-----Border-----*/
    --border-radius-img:10px;
    --box-shadow:4px 4px 0px #262626;
    --border-img:0.3rem solid #262626;
    
    
}

/*-----Header-----*/

.logotext {
    font-size: 2.25rem;
}



header {
    display: flex;
    justify-content: space-between;
}

.nav-header {
    display: flex;
    list-style: none;
    justify-content: space-between;

}

header li {
    margin: 1rem;
}

/*-----Herobanner-----*/
.title {
    display: flex;
    background-color: #ffffff;
    padding: 0.3rem;
    border-radius: var(--border-radius-img);
    border: var(--border-img);
    box-shadow: var(--box-shadow);
    justify-content: center;
    
}

h1 {
    font-size: 3rem;
}
.herobanner {
  display: flex;
  border-top: solid 0.3rem #262626;
  border-bottom: solid 0.3rem #262626;
}

.herobanner-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vw;
    background-color: #9bf1ff;
    
    
}

.herotext-container {
    width: 40vw;
    min-width: 270px;
    margin: 7vw;
}


.productImg {
    height: 50vw;
    margin: 3.5rem; 
}

/*-----Consept-----*/

.consept {
    display: flex;
    background-color:var(--color-secundary-color-light3);
    margin: 7rem;
    flex-flow: column;
    border-radius: var(--border-radius-img);
    border: var(--border-img);

}

.conseptText {
   margin: 3.5rem;
   /*display: flex;
   position: ;*/
}


.conseptImg {
    border: var(--border-img);
    border-radius: var(--border-radius-img);
    box-shadow: var(--box-shadow);
    width: 30vw;
    
}

.conseptText-container {
    display: flex;
    margin: 7rem;
    
}

/*-----Prototype-----*/

.prototype {
    display: flex;
    background-color: var(--color-secundary-color-light1);
    margin: 7rem;
    border-radius: var(--border-radius-img);
    border: var(--border-img);
}

.prototypeText {
    margin: 3.5rem;

}

/*-----How its works-----*/

.worksImg {
    width: 25vw;
    

}

.works {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secundary-color-light2);
    margin: 7rem;
    border-radius: var(--border-radius-img);
    border: var(--border-img);
}

.works-container {
    display: flex;
    margin: 7vw;
    

}
.worksText {
    margin: 3.5rem;
}

/*-----download-----*/

.download {
    display: flex;
    flex-direction: column;
    
    margin: 7rem 30vw;
    background-color: var(--color-secundary-color2);
    border-radius: var(--border-radius-img);
    border: var(--border-img);
}

.downloadImg {
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-img);
    border: var(--border-img);
    box-shadow: var(--box-shadow);
    margin: 3.5rem;
    width: 4rem;
}

/*-----Footer-----*/

footer {
    border-top: solid 0.3rem #262626;
    background-color: var(--color-primary-color-light)
}